<h2> Hello {{ user.username }} </h2>
<p>
  Welcome to the plasma-adonuxt, here's your getting started guide
</p>
<p>
  Please verify your Account:
  <a href="https://{{ verify.domain }}/account/confirm?token={{ verify.token }}">
  HERE
  </a>
</p>
<p></p>
<p>Token: {{ verify.token }}</p>
<p></p>
<p></p>
<p></p>
